{% from 'form_helper.html' import displayField %}
{% extends "base-layout.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
	<h1 style="text-align: center; padding: 50px"> Sign Up </h1>

	<form action="{{ url_for('signup') }}", id="form_signup" method="POST">
		{{ displayField(form.username, 'Username', autocomplete='off',
			autofocus=true)}}
		
		{{ displayField(form.password, 'Password')}}
		
		{{ displayField(form.confirmation_password, 'Confirm Password')}}

		<div class="input-group input-group-lg" style="width: 100px; margin: auto;">
			<button type="submit" class="btn btn-primary" form="form_signup" value="Submit">Submit</button>
		</div>

		{{ form.csrf_token }}

	</form>

{% endblock %}